<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IST-2022</title>
    <link rel="stylesheet" href="../css/style.css" />
    <script defer src="../js/index.js"></script>
  </head>
  <body>
    <h1>Приложение: multilabs</h1>
    <h2>Выполнил: студент ИСТ-2022, Косенко А.С.</h2>

    <h3>Описание:</h3>
    <p>
      В данном приложении включены решения практических занятий по нескольким
      дисциплинам:
    </p>
    <ol>
      <li>
        <a href="http://localhost:5000/yap"
          >«Основы языков программирования»;</a
        >
      </li>
      <li><a href="http://localhost:5000/algs">«Теория алгоритмов»;</a></li>
      <li>
        <a href="http://localhost:5000/gui"
          >«Разработка приложений с графическим интерфейсом».</a
        >
      </li>
    </ol>
    <p>
      Планирую использовать это приложение для других дисциплин, продолжение
      следует...
    </p>
  </body>
</html>
